body {
    font-family: Arial, sans-serif;
    background-color: #f4f6fa;
    color: #333;
    margin: 20px;
}

body {
    font-family: "Times New Roman", Times, serif;
    background-color: #f4f6fa;
    color: #333;
    margin: 20px;
}

nav {
    text-align: center;
    background-color: #e0e7f1;
    padding: 10px;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    font-weight: bold;
}

nav a.active {
    color: blue;
}

h1, h2 {
    color: #003366;
}